
// for header 

.example-spacer {
    flex: 1 1 auto;
  }
  .spacer2{
  margin-right: 5px;
  } 
  
  // for header


  .tb{
    background-color: #d5e9ff ;
    color: #17569b;
  }

  .container{
    
    
    margin-top: 2%;
    max-width: 30%;
  }
  .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #17569b;
    --mdc-protected-button-label-text-color: #fff;
}