<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()">S</button>
      <div class="logo-text" *ngIf="collapsed">SONİK</div>
      <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of dataArr">
        <a class="sidenav-nav-link"
           [routerLink]="[data.routeLink]"
           [queryParams]="data.queryParams"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
        </a>
      </li>
    </ul>
  </div>
  
