<mat-dialog-content class="mat-typography">
    <mat-toolbar style="background-color: #17569b;">
        <mat-toolbar-row fxLayout="row">
            <span>Login</span>
            <span class="spacer"></span>
            <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <form [formGroup]="loginForm">
        <p>
            <mat-form-field appearance="outline" fxFlex style="width: 478px;">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                    <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory</span>
                    <span *ngIf="loginForm.controls.email.errors.pattern">Please enter a valid email</span>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline" fxFlex style="width: 478px;">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required [type]="hide ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>

                </button>
                <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                    <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory</span>
                </mat-error>
            </mat-form-field>
        </p>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
   
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
     [disabled]="!(loginForm.valid && loginForm.dirty)">
        <mat-icon>login</mat-icon>Login
    </button>
    
</mat-dialog-actions>